{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row mt-4 text-center">
        <div class="col-md-10">
            <nav style="--bs-breadcrumb-divider: '>'; background-color: #f8f9fa;" aria-label="breadcrumb" class="p-1">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a href="#">Expenses</a></li>
                    <li class="breadcrumb-item" aria-current="page">Add Expenses</li>
                </ol>
            </nav>
        </div>

        <div class="col-md-2">
            <a href="{% url 'add-expenses' %}" class="btn btn-primary"><svg class="bi" aria-hidden="true">
                <use xlink:href="#plus-circle"></use>
            </svg> Add Expense</a>
        </div>
    </div>


    <div class="container mt-4">

        {% include 'partials/_messages.html' %}
        {% if expenses.count %}

        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" id="searchField">
                </div>
            </div>
        </div>

        <div class="appTable">
            <table class="table table-stripped table-hover">
                <thead>
                    <tr>
                        <th>Amount ({{currency}})</th>
                        <th>Category</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                </thead>
            
                <tbody>
                    {% for expense in page_obj %}
                    <tr>
                        <td>{{ expense.amount }}</td>
                        <td>{{ expense.category }}</td>
                        <td>{{ expense.description }}</td>
                        <td>{{ expense.date }}</td>
            
                        <td><a href="{% url 'expense-edit' expense.id %}" class="btn btn-secondary btn-sm">Edit</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="tableOutput">
            <table class="table table-stripped table-hover">
                <thead>
                    <tr>
                        <th>Amount ({{currency}})</th>
                        <th>Category</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                </thead>            
                <tbody class="table-body">
                   
                </tbody>
            </table>
        </div>

        <div class="pagination-container">
            <div>
                Showing page {{ page_obj.number}} of {{ page_obj.paginator.num_pages }}
            </div>

            <ul class="pagination align-right float-right mr-auto">
                {% if page_obj.has_previous %}
                <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}><a href="?page=1" class="page-link">&laquo; 1</a></li>
                <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">Previous</a></li>
                {% endif %}

                {% if page_obj.has_next %}
                <li class="page-item"><a href="?page={{ page_obj.next_page_number}}" class="page-link">Next</a></li>
                <li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">{{ page_obj.paginator.num_pages }} &raquo;</a></li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
    </div>
    
    
</div>

<script src="{% static 'js/searchExpenses.js' %}"
{% endblock %}