{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row mt-4 text-center">
        <div class="col-md-10">
            <nav style="--bs-breadcrumb-divider: '>'; background-color: #f8f9fa;" aria-label="breadcrumb" class="p-1">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a href="#">Expenses</a></li>
                    <li class="breadcrumb-item" aria-current="page">Add Expenses</li>
                </ol>
            </nav>
        </div>

        <div class="col-md-2">
            <a href="{% url 'add-expenses' %}" class="btn btn-primary"><svg class="bi" aria-hidden="true">
                <use xlink:href="#plus-circle"></use>
            </svg> Add Expense</a>
        </div>
    </div>


    <div class="container mt-4">

        {% include 'partials/_messages.html' %}
        {% if expenses.count %}

        <table class="table table-stripped table-hover">
            <thead>
                <tr>
                    <th>Amount (currency)</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {% for expense in expenses %}
                <tr>
                    <td>{{ expense.amount }}</td>
                    <td>{{ expense.category }}</td>
                    <td>{{ expense.description }}</td>
                    <td>{{ expense.date }}</td>

                    <td><a href="{% url 'expense-edit' expense.id %}" class="btn btn-secondary btn-sm">Edit</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
    
    
</div>

{% endblock %}