{% extends 'base_auth.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="d-flex justify-content-center align-items-center vh-100 w-100">
            <div class="card p-4" style="width: 30rem;">
                <div class="card-body">
                    <div class="card-title py-3 text-center">
                        <h4>Please enter your email to get your reset password link</h4>
                    </div>

                    <form action="{%url 'reset-password' %}" method="post">
                        {% csrf_token %}

                        {% include 'partials/_messages.html' %}
                        
                        <div class="form-group py-1">
                            <input type="email" name="email" id="emailField" value="{{values.email}}"
                                placeholder="Email" class="form-control form-control-sm">
                        </div>
                        
                        <input type="submit" value="Submit" class="btn btn-primary w-100 mt-2 submit-btn">
                    </form>

                    <div class="container">
                        <span class="text-lead lead">Already signed up?</span><a href="{% url 'login' %}">Login</a><br>
                        <span class="text-lead lead">Don't have an account?</span><a href="{% url 'register' %}">Register</a>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="col-md-2"></div>
</div>

<script src="{% static 'js/register.js' %}"></script>
{% endblock %}